{# Plantilla a la cual soy redirigido una vez he introducido los datos necesarios para subir estadisticas
en la base de datos.  #}

{% extends "base.html.twig" %}

{% block body %}

{# <h1>Estoy en upload</h1> #}
{# <h2>Ha efectuado una subida de estadisticas en la bbdd </h2> #}

<body>

      <button><a href='/' style="color: red">Dashboard</a></button><br>
      
</body>
{% endblock %}
